.container{
    display:flex;
    width:1500px;
    height: 700px;
    
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.form__input,button{
    margin-left: 20px;
    width: 250px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:burlywood;
}

#tohid{
    background-image:url(https://th.bing.com/th/id/R.54b703c62b94c6fc6d7f420d3edd920d?rik=d7WQxMT5BOSr1Q&pid=ImgRaw&r=0);
    display: block;
    min-width: 600px;
    min-height: 450px;
    position: relative;
   background-repeat: no-repeat;
}
#torev{
    background-color: lightblue;
display: none;
min-width: 600px;
position: relative;
    min-height: 450px;
}
#img1{
    background-image:url(https://th.bing.com/th/id/R.54b703c62b94c6fc6d7f420d3edd920d?rik=d7WQxMT5BOSr1Q&pid=ImgRaw&r=0);
    position: relative;
    display: none;
    min-width: 600px;
    min-height: 450px;
}

.white{
    min-width: 600px;
    min-height: 450px;
    background-color: lightblue;
}
h1,h2{
    padding: 15px;
}
